:root {
    --background-color: #F8F8F8;
    --services-text-color: #7E7E82;
    --slider-btn-ouline: #B8FFEC;
    --slider-btn-backcolor: #FFFFFF;
    --read-more-btn: #FF3E79;
    --max-width: 1426px;
}

body {
    font-family: 'TTLakes', sans-serif;
   
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

h2, menu {
	padding: 0;
	margin: 0;
	border: none;
}

ul, ul, li {
	list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}
.show {
    display: block !important;
}
.no-scroll {
    overflow: hidden;
}

.button-readmore,
.title__button,
.header__button,
.card-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.container {
    max-width:  var(--max-width);
    margin: 0 auto;
}

/* ----- HEADER ----- */
.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    height: 80px;
    align-items: center;
}

.header__burger-section {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0 17px;
}

.header__logo::after {
    content: '';
    position: absolute;
    margin: 10px 16px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

.header__buttons-row {
    display: flex;
}

.buttons-row__tablet-width {
    display: none;
    margin-right: 42px;
}

.buttons-row__tablet-width::after {
    content: '';
    position: absolute;
    margin: 6px 174px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

.buttons-row__mobile-width {
    display: flex;
    align-items: center;
}

.header__button:hover {
    transform: scale(1.08);
    transition: 0.1s;
}

.header__button:active {
    transform: scale(1);
    transition: 0s;
}

* + .header__button  {
    margin-left: 16px;
}

.header__button {
    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: center;

    background-color: #FF3E79;
    border-radius: 50%;
}

.burger-menu-open {
    background-image: url(./../assets/icons/burger-open.svg);
}
.call-button {
    background-image: url(./../assets/icons/call.svg);
}
.chat-button {
    background-image: url(./../assets/icons/message.svg);
}
.profile-button {
    background-image: url(./../assets/icons/profile.svg);
}
.repair-button {
    background-image: url(./../assets/icons/repair.svg);
}
.checkstatus-button {
    background-image: url(./../assets/icons/check.svg);
}
.burger-menu-close {
    background-image: url(./../assets/icons/burger-close.svg);
}
.search-button {
    background-image: url(./../assets/icons/search.svg);
}



/* ----- MAIN ----- */
.main {
    position: relative;
}
.services {
    background-color: var(--background-color);
    padding-bottom: 24px;
}

.services__title {
    padding: 1.5rem 1rem 0 1rem;
    margin-bottom: 1.1rem;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.services__title::before {
    content: '';
    position: absolute;
    margin-left: -16px;
    margin-top: 2px;
    width: 3px;
    height: 1.3em;
    background-color: #41F6D7;;
    border-radius: 1px;
 }

.services__title__buttons-row {
    display: none;
}

.services__slider {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    margin-top: 4px;
    margin-left: 11px;
    margin-bottom: 12px;
}

.services__slider__span {
    display: inline-block;
    word-wrap: nowrap;
    padding: 8px 10px;
    margin: 5px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    color: var(--services-text-color);
}

.services__slider__span:hover,
.services__slider__span:active,
.services__slider__span:focus,
.services__slider__radiobtn:checked + .services__slider__span {
    background: var(--slider-btn-backcolor);
    outline: 2px solid var(--slider-btn-ouline);
    border-radius: 6px;
}

.services__slider__radiobtn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.services__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 12px;
}

.services__content__description {
    margin: 0 16px 16px 16px;
}

.services__content__description * + p {
    margin-top: 1.5rem;
}

.services__content__description__text {
    display: none;
}

.services__content__description__text.active {
    display: block;
    max-height: 8rem;
    overflow: hidden;
    position: relative;
    max-width: 312px;
}

.read-more-checkbox:checked ~ .services__content__description__text {
    max-height: none;
}

.services__content__description__btn {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    width: fit-content;
    cursor: pointer;
    /* Для центрирования псевдоэлемента before */
    display: flex;
    align-items: center;
}

.read-more-button-wrapper {
    margin-top: 16px;
}

.button-readmore {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    width: fit-content;
    cursor: pointer;
    /* Для центрирования псевдоэлемента before */
    display: flex;
    align-items: center;
}

.button-readmore:hover,
.button-readmore:active {
    color: var(--read-more-btn);
}

.button-readmore::before {
    content: '';
    /* background-image: url(./../assets/icons/arrow.svg); */
    
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E");
    
    width: 8px;
    height: 11px;
    margin-left: 8px;
    margin-right: 16px;
}

.button-readmore.rotate::before {
    transform: rotate(180deg);
}

.fullsize {
    max-height: none !important;
}
/* ----- ASIDE ----- */

.aside__container {
    position: fixed;
	left: 0;
	top: 0;
    
    box-sizing: border-box;
    min-width: 320px;
    height: 100vh;
    max-height: 1024px;
    padding: 18px 0 32px 0;

    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    
    z-index: 99;
    background-color: white;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.aside__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.aside__header__logo-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.aside__menu__item__link {
    display: inline-block;
    width: 100%;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.aside__menu__item__link:hover {
    color: #7E7E82;
}

.aside__menu__item {
    margin-bottom: 2rem;
}

.active-link {
    color: #7E7E82;
}
.aside__menu__item__link.active-link::before {
    content: '';
    position: absolute;
    left: 0px;
    margin-top: -4px;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 4px;
}

.aside__content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 10px;
}

.aside__footer__buttons-row {
    margin-bottom: 1rem;
}

.aside__footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.aside__footer__contacts__email {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: inherit;
}

.aside__footer__contacts__phone {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    color: inherit;
}

.aside__footer__language {
    display: flex;
    gap: 7px;
}

.aside__footer__language__button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.aside__footer__language__button:active {
    transform: scale(1.08);
}

.language-selected {
    color: #7E7E82;
}

.blur-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    overflow-y: hidden;
}

/* ----- Brands section ----- */

.brands {
    background-color: var(--background-color);
}

.brands__content {
    margin-left: 16px;
    padding-bottom: 32px;
}

.brands__cards__card__img {
    max-width: 128px;
}

.card-button {
    border: 2px solid #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.card-button::after {
    content: '';
    position: absolute;
    border-right: 2px solid #FF3E79;
    width: 7px;
    height: 7px;
    border-top: 2px solid #FF3E79;
    border-radius: 1px;
    transform: rotate(45deg) translate(-7px);
}


.card-button:active {
    transform: scale(0.95); 
    transition: 0s;
}

.section-name {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--services-text-color);
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    margin-bottom: 16px;
}


/* Swiper */

.swiper {
    width: 1wh;
    height: 100%;
    padding-bottom: 36px;

}

.swiper-slide.brands {
    display: flex;
    max-width: 240px;
}

.swiper-slide__card.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding: 16px;
}

.swiper-pagination-bullet {
    background-color: #979797;

}
.swiper-pagination-bullet-active {
    background-color: #B5B6BC
}

@media (min-width: 768px) {
    .swiper-wrapper.brands-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(224px, 240px));
        row-gap: 16px; 
        column-gap: 24px;
        margin-top: 16px;

        max-height: 160px;
        overflow: hidden;
    }

    .swiper {
        padding-bottom: 0;
    }

    .swiper-pagination {
        display: none;
    } 
}




















@media (max-height: 790px) {
    .aside__container {
        overflow: scroll;
    }
}
@media (max-width: 1119px) {
    .aside__container {
        display: none;
    }
}

@media (min-width: 1119px) {
    .aside__container {
        position: static;
        box-shadow: none;
        overflow: visible;
    }
    .main {
        display: flex;
    }
    .burger-menu-close {
        display: none;
    }
}

/* ----- Media ----- */
@media (min-width: 450px) {
    .block__description {
        max-width: 400px;
    }
}


@media (min-width: 550px) {
    .buttons-row__tablet-width {
        display: flex;
        align-items: center;

    }

    .header__logo {
        margin-left: 42px;
    }

    .header__logo::after {
        display: none;
    }

    .header__logo::before {
        content: '';
        position: absolute;
        margin: 10px -20px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
    }
}

@media (min-width: 768px) {
    .services__content__description__text.active {
        max-height: 12rem;
     }

     .services__content {
        padding-top: 20px;
     }

     .services__slider {
        padding-top: 12px;
     }
}

@media (min-width: 1120px) {
    .header {
        display: none;
     }

     .services__title__buttons-row {
        /* gap: 0.7rem; */
     }

     .services__title__buttons-row {
        display: flex;
        align-items: center;
        gap: 0.8rem;
     }

     .title__buttons-row__button-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
     }

     .title__buttons-row__button-wrapper:hover .title__button {
        transition: 0.1s;
        color:#979797
     }
     .title__buttons-row__button-wrapper:active .title__button {
        transform: scale(0.99);
        transition: 0s;
     }

     .title__button {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
     }

     .services__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
     }

     .services__title__buttons-row {
        display: flex;
     }

     .services__slider {
        flex-wrap: wrap;
     }
     .services__title {
        margin-bottom: 1rem;
     }

    .services__content {
        padding-top: 20px;
     }

     .services__content__description__text.active {
        max-width: 490px;
        max-height: 15rem;
     }

     .services__content__img img {
        border-radius: 1.5%
     }

     .services__title {
        padding-top: 2rem;
     }
}