.button-readmore,
.title__button,
.header__button,
.card-button,
.order-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.header__button {
    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: center;

    background-color: $button-background;
    border-radius: 50%;

    &:hover {
        transform: scale(1.08);
        transition: 0.1s;
    }

    &:active {
        transform: scale(1);
        transition: 0s;
    }
}

* + .header__button  {
    margin-left: 16px;
}

.title__button {
    @media (min-width: 1120px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
 }

.burger-menu-open {
    background-image: url(./../img/icons/burger-open.svg);
}
.call-button {
    background-image: url(./../img/icons/call.svg);
}
.chat-button {
    background-image: url(./../img/icons/message.svg);
}
.profile-button {
    background-image: url(./../img/icons/profile.svg);
}
.repair-button {
    background-image: url(./../img/icons/repair.svg);
}
.checkstatus-button {
    background-image: url(./../img/icons/check.svg);
}
.burger-menu-close {
    background-image: url(./../img/icons/burger-close.svg);

    &.menu-close {
        @media (min-width: 1119px) {
            display: none;
        }
    }
}
.search-button {
    background-image: url(./../img/icons/search.svg);
}


.read-more-button-wrapper {
    margin-top: 16px;
}

.button-readmore {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    width: fit-content;
    cursor: pointer;
    /* Для центрирования псевдоэлемента before */
    display: flex;
    align-items: center;

    &:hover, :active {
        color: $button-background;
    }

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E");
        
        width: 8px;
        height: 11px;
        margin-left: 8px;
        margin-right: 16px;
    }

    &.rotate::before {
        transform: rotate(180deg);
    }
}

.button-readmore--slider {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.card-button {
    border: 2px solid $button-background;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    &::after {
        content: '';
        position: absolute;
        border-right: 2px solid $button-background;
        width: 7px;
        height: 7px;
        border-top: 2px solid $button-background;
        border-radius: 1px;
        transform: rotate(45deg) translate(-7px);
    }

    &:hover {
        transform: scale(1.03);
        transition: .1s ease-in;
    }

    &:active {
        transform: scale(1); 
        transition: .1s;
    }
}

.order-button {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: $slider-btn-backcolor;
    
    background-color: $button-background;
    padding: 4px 8px 4px 12px;
    border-radius: 16px;
    text-align: justify;
    min-width: 119px;

    grid-area: button;

    &::after {
        content: '';
        display: inline-block;
        border-right: 2px solid $slider-btn-backcolor;
        border-top: 2px solid $slider-btn-backcolor;
        width: 5px;
        height: 5px;
        border-radius: 1px;
        transform: rotate(45deg) translateY(-1px);
        margin-left: 15px;
        margin-right: 8px;
    }
    &:hover {
        transform: scale(1.03);
        transition: .1s ease-in;
    }

    &:active {
        transform: scale(1); 
        transition: .1s;
    }
}