body {
    font-family: 'TTLakes', sans-serif;
   
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

h2, menu, p {
	padding: 0;
	margin: 0;
	border: none;
}

ul, ul, li {
	list-style: none;
    margin: 0;
    padding: 0;
}

tr, th {
    font-weight: normal;
}

.fullsize {
    max-height: none !important;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.no-scroll {
    overflow: hidden !important;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
}

.blur-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 98;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    overflow-y: hidden;
}