
$background-color: #F8F8F8;
$services-text-color: #7E7E82 ;
$border-color: #EAEAEA;
$slider-btn-ouline: #B8FFEC ;
$slider-btn-backcolor: #FFFFFF ;
$button-background: #FF3E79 ;
$max-width: 1426px;
$main-black-color: #1B1C21;
$selected-section-color: #41F6D7;
$swiper-pagination: #979797;
$swiper-pagination-active: #B5B6BC;
$mobile-menu-background-color: #FFFFFF;